<%- include('includes/head') %>
    <%- include('includes/loading-page') %>
        <!-- Topbar Start -->
        <div class="container-fluid p-0 top-bar" style="z-index: 9;
    position: relative;">
            <div class="row gx-0 d-none d-lg-flex">
                <div class="col-lg-7 px-5 text-start">
                    <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                        <small class="fa fa-map-marker-alt text-primary me-2"></small>
                        <small>Makkah Industrial City, Mecca 24227, Saudi Arabia</small>
                        <small> <a href="/lang/ar" class="lang-btn"
                                style="border-right: 2px solid #fff; padding-right: 20px;">العربية</a>
                            <a href="/lang/en" class="lang-btn" style="margin-left: 20px;">English</a>
                        </small>
                    </div>
                </div>
                <div class="col-lg-5 px-5 text-end">
                    <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                        <small class="fa fa-phone-alt text-primary me-2"></small>
                        <small>055 500 8628</small>
                    </div>
                    <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                        <small class="fa fa-phone-alt text-primary me-2"></small>
                        <small>055 833 9966</small>
                    </div>
                    <div class="h-100 d-inline-flex align-items-center">
                        <a class="btn btn-sm-square text-primary me-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-sm-square text-primary me-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-sm-square text-primary me-1" href=""><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-sm-square text-primary me-0" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Topbar End -->


        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg navbar-light sticky-top p-0">
            <a href="/" class="navbar-brand logo-large d-flex align-items-center px-4 px-lg-5">
                <h2 class="m-0 text-primary"><img src="/main/img/logo.png" alt="wood"></h2>
            </a>
            <a href="/" class="navbar-brand logo-small">
                <img src="/" alt="wood">
            </a>
            <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto p-4 p-lg-0">
                    <a href="/" class="nav-item nav-link active">Home</a>
                    <a href="/about" class="nav-item nav-link">About</a>
                    <a href="/service" class="nav-item nav-link">Service</a>
                    <a href="/project" class="nav-item nav-link">Project</a>
                    <a href="/contact" class="nav-item nav-link">Contact</a>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->


        <!-- Carousel Start -->
        <div class="container-fluid p-0 pb-5 slide-box">
            <div class="owl-carousel header-carousel position-relative">
                <% slides.forEach(s=> { %>
                    <div class="owl-carousel-item position-relative">
                        <img class="img-fluid" src="<%=s.img%>" alt="">
                        <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                            style="background: rgba(53, 53, 53, .7);">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-12 col-lg-8 text-center">
                                        <h5 class="text-white text-uppercase mb-3 animated slideInDown">
                                            <%=s.title.en%>
                                        </h5>
                                        <p class="fs-5 fw-medium text-white mb-4 pb-2">
                                            <%=s.caption.en%>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% });%>
            </div>
        </div>
        <!-- Carousel End -->
        <!-- About Start -->
        <div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
            <div class="container about px-lg-0">
                <div class="row g-0 mx-lg-0">
                    <div class="col-lg-6 ps-lg-0" style="min-height: 400px;">
                        <div class="position-relative h-100">
                            <img class="position-absolute img-fluid w-100 h-100" src="<%=about.img%>"
                                style="object-fit: cover;" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 about-text py-5 wow fadeIn" data-wow-delay="0.5s">
                        <div class="p-lg-5 pe-lg-0">
                            <div class="section-title text-start">
                                <h1 class="display-5 mb-4">About Us</h1>
                            </div>
                            <p class="mb-4 pb-2">
                                <%= about.en%>
                            </p>
                            <div class="row g-4 mb-4 pb-2">
                                <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                                    <div class="d-flex align-items-center">
                                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white"
                                            style="width: 60px; height: 60px;">
                                            <i class="fa fa-users fa-2x text-primary"></i>
                                        </div>
                                        <div class="ms-3">
                                            <h2 class="text-primary mb-1" data-toggle="counter-up">
                                                <%=about.clints%>
                                            </h2>
                                            <p class="fw-medium mb-0">Happy Clients</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                                    <div class="d-flex align-items-center">
                                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white"
                                            style="width: 60px; height: 60px;">
                                            <i class="fa fa-check fa-2x text-primary"></i>
                                        </div>
                                        <div class="ms-3">
                                            <h2 class="text-primary mb-1" data-toggle="counter-up">
                                                <%=about.projects%>
                                            </h2>
                                            <p class="fw-medium mb-0">Projects Done</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="/main/wood-profile.pdf" class="btn btn-primary py-3 px-5">Explore More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Service Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="section-title text-center">
                    <h1 class="display-5 mb-5">Our Services</h1>
                </div>
                <div class="row g-4">
                    <%let i=0 %>
                        <%servs.forEach(s=>{ %>
                            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.<%i++%>s">
                                <div class="service-item">
                                    <div class="overflow-hidden">
                                        <img class="img-fluid" src="<%= s.img%>" alt="">
                                    </div>
                                    <div class="p-4 text-center border border-5 border-light border-top-0">
                                        <h4 class="mb-3">
                                            <%=s.title.en%>
                                        </h4>
                                        <p>
                                            <%=s.content.en%>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <%})%>
                </div>
            </div>
        </div>
        <!-- Service End -->


        <!-- Feature Start -->
        <div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
            <div class="container feature px-lg-0">
                <div class="row g-0 mx-lg-0">
                    <div class="col-lg-6 feature-text py-5 wow fadeIn" data-wow-delay="0.5s">
                        <div class="p-lg-5 ps-lg-0">
                            <div class="section-title text-start">
                                <h1 class="display-5 mb-4">Why Choose Us</h1>
                            </div>
                            <p class="mb-4 pb-2">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam
                                amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo
                                erat
                                amet</p>
                            <div class="row g-4">
                                <div class="col-6">
                                    <div class="d-flex align-items-center">
                                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white"
                                            style="width: 60px; height: 60px;">
                                            <i class="fa fa-check fa-2x text-primary"></i>
                                        </div>
                                        <div class="ms-4">
                                            <p class="mb-2">Quality</p>
                                            <h5 class="mb-0">Services</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="d-flex align-items-center">
                                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white"
                                            style="width: 60px; height: 60px;">
                                            <i class="fa fa-user-check fa-2x text-primary"></i>
                                        </div>
                                        <div class="ms-4">
                                            <p class="mb-2">Creative</p>
                                            <h5 class="mb-0">Designers</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="d-flex align-items-center">
                                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white"
                                            style="width: 60px; height: 60px;">
                                            <i class="fa fa-drafting-compass fa-2x text-primary"></i>
                                        </div>
                                        <div class="ms-4">
                                            <p class="mb-2">Free</p>
                                            <h5 class="mb-0">Consultation</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="d-flex align-items-center">
                                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white"
                                            style="width: 60px; height: 60px;">
                                            <i class="fa fa-headphones fa-2x text-primary"></i>
                                        </div>
                                        <div class="ms-4">
                                            <p class="mb-2">Customer</p>
                                            <h5 class="mb-0">Support</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pe-lg-0" style="min-height: 400px;">
                        <div class="position-relative h-100">
                            <img class="position-absolute img-fluid w-100 h-100" src="/main/img/feature.jpg"
                                style="object-fit: cover;" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Feature End -->


        <!-- Projects Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="section-title text-center">
                    <h1 class="display-5 mb-5">Our Projects</h1>
                </div>
                <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="col-12 text-center">
                        <ul class="list-inline mb-5" id="portfolio-flters">
                            <li class="mx-2 active" data-filter="*">All</li>
                            <% categs.forEach(c=>{ %>
                                <li class="mx-2" data-filter=".<%=c.en.replace(/ /g, "")%>">
                                    <%= c.en%>
                                </li>
                                <%}) %>
                        </ul>
                    </div>
                </div>
                <div class="row g-4 portfolio-container">
                    <%projects.forEach(p=>{%>
                        <div class="col-lg-4 col-md-6 portfolio-item <%=p.categ.en.replace(/ /g, "")%> wow fadeInUp"
                            data-wow-delay="0.<%i++%>s">
                            <div class="rounded overflow-hidden">
                                <div class="position-relative overflow-hidden">
                                    <img class="img-fluid w-100" src="<%=p.img%>" alt="">
                                    <div class="portfolio-overlay">
                                        <a class="btn btn-square btn-outline-light mx-1" href="<%=p.img%>"
                                            data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                        <a class="btn btn-square btn-outline-light mx-1" href=""><i
                                                class="fa fa-link"></i></a>
                                    </div>
                                </div>
                                <div class="border border-5 border-light border-top-0 p-4">
                                    <p class="text-primary fw-medium mb-2">
                                        <%=p.name.en%>
                                    </p>
                                    <h5 class="lh-base mb-0">
                                        <%=p.desc.en%></a>
                                </div>
                            </div>
                        </div>
                        <%})%>
                </div>
            </div>
        </div>
        <!-- Projects End -->

        <%- include('includes/testo') %>
            <!-- Quote Start -->
            <div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
                <div class="container quote px-lg-0">
                    <div class="row g-0 mx-lg-0">
                        <div class="col-lg-6 ps-lg-0" style="min-height: 400px; padding-top: 40px;">
                            <div class="position-relative h-100">
                                <div class="mapouter">
                                    <div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas"
                                            src="https://maps.google.com/maps?q=21%C2%B029'35.0%22N%2039%C2%B047'25.2%22E&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                                            href="https://123movies-to.org"></a><br>
                                        <style>
                                            .mapouter {
                                                position: relative;
                                                text-align: right;
                                                height: 100%;
                                                width: 100%;
                                            }
                                        </style><a href="https://www.embedgooglemap.net">how to add a google map to
                                            wordpress</a>
                                        <style>
                                            .gmap_canvas {
                                                overflow: hidden;
                                                background: none !important;
                                                height: 500px;
                                                width: 600px;
                                            }
                                        </style>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 quote-text py-5 wow fadeIn" data-wow-delay="0.5s">
                            <div class="p-lg-5 pe-lg-0">
                                <div class="section-title text-start">
                                    <h1 class="display-5 mb-4">Contact Us</h1>
                                </div>
                            </div>
                            <form action="/send-mail" method="post">
                                <div class="row g-3">
                                    <div class="col-6 col-sm-6">
                                        <input type="text" class="form-control border-0" name="name"
                                            placeholder="Your Name" style="height: 55px;">
                                    </div>
                                    <div class="col-6 col-sm-6">
                                        <input type="email" class="form-control border-0" name="email"
                                            placeholder="Your Email" style="height: 55px;">
                                    </div>
                                    <div class="col-md-12 col-sm-6">
                                        <input type="text" class="form-control border-0" name="subject"
                                            placeholder="subject" style="height: 55px;">
                                    </div>
                                    <div class="col-12">
                                        <textarea class="form-control border-0" rows="5" name="msg"
                                            placeholder="message"></textarea>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100 py-3" type="submit">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Quote End -->
            <%- include('includes/footer') %>